/* BASIC STYLES HERE */






body {
  background-position: center;
  background-size: cover;
}

i {
  cursor: pointer;
}

i:hover {
  transform: scale(1.15);
}

.clear-card {
  background-color: #100c0cad;
  padding: 1em;
}

#author {
  visibility: hidden;
  transition: ease 0.5s;
}

#quote:hover+#author {
  visibility: visible;
}

.clickable {
  cursor: pointer;
}